.characterDetailContainer {
  padding: 10px 0;
  background-color: color.$blue-grey-800;
  color: color.$white;
  padding-left: 20px;
}

.characterModalButton {
  background-color: color.$grey-700;
  width: 115px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 5px;
}

.characterInfoContainer {
  display: flex;
  align-items: flex-start;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 10px;
}

.characterImage {
  position: relative;
  width: 500px;
  height: 535px;
}
