.characterHeader {
  display: flex;
  margin-bottom: 20px;

  span {
    display: block;
    font-size: 1.2em;
  }
}

.CharacterInfoContainer {
  display: flex;
  align-items: flex-start;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  .levelInfo {
    margin-bottom: 10px;

    .levelInfoExpedition,
    .levelInfoItem {
      display: flex;
      justify-content: space-between;
    }
  }

  .levelInfo2 {
    margin-bottom: 10px;

    .levelInfoItemAvg,
    .levelInfoItemMax {
      display: flex;
      justify-content: space-between;
    }
  }

  .gameInfo {
    margin-bottom: 10px;

    .gameInfoTitle,
    .gameInfoGuild,
    .levelInfoPvp,
    .gameInfoTown {
      display: flex;
      justify-content: space-between;
    }
  }
}
