.eventContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;

  .eventCard {
    border: 1px solid color.$grey-400;

    h3 {
      margin: 10px;
    }

    div {
      margin: 10px;

      .eventDate {
        color: color.$deep-purple-500;
      }

      .rewardDate {
        color: color.$blue-500;
      }
    }
  }

  &:last-child {
    margin-bottom: 20px;
  }
}
