.titleSkeleton {
  width: 300px;
  height: 36px;
  margin: 1px 0;
}
.characterImageSkeleton {
  width: 612px;
  height: 708px;
  margin-bottom: 1px;
}
.characterInformationSkeleton {
  width: 220px;
  height: 90px;
}
