.navigator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  height: variables.$navigator-height;

  z-index: variables.$z-index-navigator;
  background-color: color.$black;
}

.navWrapper {
  display: flex;
  align-items: center;
  max-width: variables.$contents-max-width;

  width: 100%;
  height: 100%;
}

.navList {
  display: flex;
  align-items: center;
}
