.navItem {
  position: relative;
}

.navTitle {
  @include mixins.subHeadline;

  display: flex;
  align-items: center;
  color: color.$white;
  padding: 16px;
  height: variables.$navigator-height;
}

.navDepth {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 90px;

  width: 100%;
  gap: 4px;
}
