.searchGuideContainer {
  margin-top: 155px;
  text-align: center;

  h1 {
    color: color.$indigo-700;
    font-size: 2.3rem;
  }
}

.searchGuide {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 250%;
}
