.formStyle {
  text-align: center;
  position: relative;

  input {
    padding-left: 20px;
    width: 560px;
    height: 64px;
    background-color: color.$blue-grey-800;
    border: 2px solid color.$blue-grey-900;
    font-size: 20px;
    color: color.$white;

    &::placeholder {
      color: color.$white;
    }
  }

  button {
    cursor: pointer;
    border: none;
    padding: 8px;

    position: absolute;
    top: 50%;
    margin-top: -16px;
    margin-left: -60px;
  }
}
